.product-list figure {
    position: relative;
    height: 400px;
}


.product-list>figure:last-of-type {
    margin-right: 0;
}

.product-list>figure:first-of-type {
    margin-left: 0;
}

.btn-product {
    width: 100%;
    text-transform: uppercase;
    color: #333;
    font-weight: 400;
    border: .1rem solid #ebebeb;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: none;
    transition: all .12s ease;

}

.product-list figure:hover .btn-product {
    display: block;
    overflow: hidden;
    bottom: 100px;
    width: 100%;
    animation: SlideUp .3s ease-in-out;
}

.product-list figure p {
    margin-bottom: 0;
}

.product-list figure p:first-of-type {
    margin-top: 10px;
}

.btn-product:hover {
    background-color: #a49e9e;
    color: #ebebeb;
}

@keyframes SlideUp {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}


.favourite {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
}


.favourite>i {
    color: #1c1c1cc5;
    z-index: 100;
    font-size: 13px;
    vertical-align: middle !important;
}

.favourite:hover>i {
    color: #ffffff;
}

.favourite:hover {
    background-color: #a49e9e;
}


.product-list figure:hover .favourite {
    display: flex;
    position: absolute;
    top: 15px;
    left: 180px;
    animation: SlideLeft .3s ease-in-out;
}

@keyframes SlideLeft {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

li[class='ant-rate-star ant-rate-star-full'] {
    margin: 0 !important;

}

.product_name,
.product_price,
.rating {
    text-align: left;
}

.product_name {
    font-size: 1.15rem;
    font-weight: 400;

}

.product_price {
    font-size: .9rem;
    font-weight: 400;
    color: #c94444;
}

figure img {
    object-fit: cover;
    width: 100%;
}